
  <!--
<app-pkmn-rnbo></app-pkmn-rnbo>
<app-pkdx-display></app-pkdx-display>
	for audio graph -> <mat-icon>device_hub</mat-icon>  

<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="devices">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with mic icon">
        <mat-icon>mic</mat-icon>
    </button>
  </mat-toolbar>
    <mat-menu #devices="matMenu">
    <a mat-menu-item routerLink="/recording">
      <mat-icon>audiotrack</mat-icon>
      <span>Voice FX</span>
    </a>
    <a mat-menu-item routerLink="/games">
      <mat-icon>games</mat-icon>
      <span>games</span>
    </a>
  </mat-menu>
  
<app-pkmn-waapi></app-pkmn-waapi>
<app-path-input-canvas></app-path-input-canvas>
<app-pkdx-display></app-pkdx-display>

-->


<app-device-display></app-device-display>
